<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean name="indexAction" class="org.jerrymouse.web.action.IndexAction"></bean>
	<bean name="ifrAction" class="org.jerrymouse.web.action.IfrAction"></bean>
	<bean name="urlTestAction" class="org.jerrymouse.web.action.URLTestAction"></bean>
	<bean name="getGadgetAction" class="org.jerrymouse.web.action.getGadgetAction">
	</bean>
	<bean name="gadgetRenderService"
		class="org.jerrymouse.web.service.impl.GadgetRenderServiceImpl"></bean>
</beans>
