<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- action -->
	<bean name="debuggerAction" class="org.jerrymouse.google.Debugger"></bean>
	<bean name="indexAction" class="org.jerrymouse.web.action.IndexAction"></bean>
	<bean name="ifrAction" class="org.jerrymouse.web.action.IfrAction"></bean>
	<bean name="getGreetingAction" class="org.jerrymouse.web.action.GetGreetingAction"></bean>
	<bean name="saveGreetingAction" class="org.jerrymouse.web.action.SaveGreetingAction"></bean>

	<!-- sercice -->
	<bean name="gadgetRenderService"
		class="org.jerrymouse.web.service.impl.GadgetRenderServiceImpl"></bean>
	<bean name="containerService" class="org.jerrymouse.web.service.impl.ContainerServiceImpl"></bean>

	<!-- dao -->
	<bean name="gadgetContainerDao" class="org.jerrymouse.web.dao.impl.GadgetContainerDaoImpl"></bean>
	<bean name="gadgetDao" class="org.jerrymouse.web.dao.impl.GadgetDaoImpl"></bean>
	<bean name="greetingDao" class="org.jerrymouse.web.dao.impl.GreetingDaoImpl"></bean>
	<bean name="mainContainerDao" class="org.jerrymouse.web.dao.impl.MainContainerDaoImpl"></bean>
</beans>
