/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
* {
	margin: 0;
	padding: 0;
}

html,body {
	background: #f0f7fc url("../images/bg.gif") repeat-x;
	text-align: left;
}

/* Colors */
.color-yellow {
	background: #f2bc00;
}

.color-red {
	background: #dd0000;
}

.color-blue {
	background: #148ea4;
}

.color-white {
	background: #dfdfdf;
}

.color-orange {
	background: #f66e00;
}

.color-green {
	background: #8dc100;
}

.color-yellow h3,.color-white h3,.color-green h3 {
	color: #000;
}

.color-red h3,.color-blue h3,.color-orange h3 {
	color: #FFF;
}

/* End Colors */
h1,h2,h3 {
	margin-top: 1.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p,ul,ol {
	margin-top: 0.5em;
}

ul,ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 0.7em;
	margin-right: 1.4em;
	/*gai*/
}

/* Header */
#header {
	height: 60px;
	background: url("../images/h1-bg.gif") repeat-x;
	color: #006aad;
	border: 1px solid #c5e2f2;
	border-bottom: 0;
	font-size: 14px;
	font-weight: normal;
}

#logo {
	float: left;
	height: 50px;
}

#logo h1,#logo h2 {
	float: left;
	margin: 0 0 0 20px;
}

#logo h1 {
	padding: 5px 0 0 0;
	letter-spacing: -2px;
	font-size: 2.4em;
}

#logo h2 {
	padding: 12px 0 0 5px;
	letter-spacing: -1px;
	font-size: 1.4em;
	font-weight: normal;
	font-style: italic;
}

#logo a {
	text-decoration: none;
	color: #40C1D4;
}

#search {
	float: right;
	width: 200px;
}

#search h2 {
	margin: 0;
}

#search form {
	padding: 0px 20px 20px 20px;
}

#search fieldset {
	border: none;
}

#search legend {
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	font-size: 0.8em;
	padding: 0px 40px 0 10px;
	line-height: normal;
}

#search #s {
	width: 140px;
	padding: 0px 10px 0 10px;
	background: #B5E6EE;
	border-top: 1px solid #B9E7EF;
	border-left: 1px solid #B9E7EF;
	border-right: 1px solid #C1EBF1;
	border-bottom: 1px solid #C1EBF1;
	font: bold 1.2em Georgia, "Times New Roman", Times, serif;
	color: #0083A9;
}

#search #x {
	display: none;
}

#loginDiv {
	padding: 5px 0 7px;
	float: right;
}

.dijitPopup {
	opacity: 0.8;
	a background-color: #f0f7fd;
}

#loginRes {
	color: red;
}

/* container */
#tabDiv {
	padding: 0px 10px 0 10px;
	position: relative;
}

#tabDiv .dijitButton {
	position: absolute;
	margin-right: 30px;
	top: 10px;
	right: 0;
}

#tabs {
	margin-left: 20px;
	list-style-type: none;
	height: 50px;
	margin-right: 3px;
	position: relative;
}

#tabs .headLink {
	background: url(../images/header-bg-y.png) no-repeat left top;
	cursor: pointer;
	padding: 0;
	bottom: 0;
	width: 129px;
	position: absolute;
}

#tabs .headLink .fisheyeTarget {
	bottom: 0;
	left: 0;
	width: 1px;
	height: 1px;
	cursor: pointer;
	height: 5px;
}

#tabs .activeTab {
	background: url(../images/header-bg.png) no-repeat left top;
}

#tabs .headLink .inner {
	bottom: 5px;
	margin-left: 10px;
	font-size: 18px;
	cursor: pointer;
	position: absolute;
}

#add-content {
	float: right;
	margin-right: 25px;
	color: #5b5f8c;
	font: small-caps bold 18px arial;
	cursor: pointer;
}

#gadgets {
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

#allgadetsDiv {
	clear: both;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 30px;
	padding-top: 10px;
	margin-top: 30px;
	float: right;
	margin-right: 30px;
	display: none;
	z-index: 1000;
	width: 200px;
}

#allgadetsDiv ul {
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
}

#allgadetsDiv ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.column {
	list-style-type: none;
	float: left;
	width: 32%;
	margin: 0;
	padding: 30px 0 0 0;
	margin: 0 9px;
	min-height: 400px;
	height: auto !important;
	height: 450px;
}

.middlecolumn {
	margin: 0;
}

.gadgets-gadget-chrome {
	margin: 4px;
	border: 1px solid #7aa5d6;
	width: 100%;
	background-color: #FFFFFF;
}

.gadgets-gadget {
	border: none;
}

.gadgets-gadget-title-bar {
	padding: 2px 4px;
	background-color: #e5ecf9;
	cursor: move;
}

.gadgets-gadget-title {
	font-weight: bold;
	color: #3366cc;
}

.gadgets-gadget-title-button-bar {
	font-size: smaller;
}

.gadgets-gadget-title-toggle-button {
	background-image: url(../images/opened.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	cursor: pointer;
	height: 14px;
	width: 19px;
}

.gadgets-gadget-user-prefs-dialog {
	background-color: #e5ecf9;
}

.gadgets-gadget-user-prefs-dialog-action-bar {
	text-align: center;
	padding-bottom: 4px;
}

.gadgets-gadget-title-button {
	
}

.gadgets-gadget-content {
	width: 100%;
	padding: 4px;
}

.gadgets-log-entry {
	
}

.gadgets-placeholder {
	border: 2px dashed #999;
}

/* Footer */
#footer {
	clear: both;
	line-height: 37px;
	height: 37px;
	padding-left: 900px;
	padding-top: 300;
	background: url("../images/h1-bg.gif") repeat-x;
	color: #006aad;
	border: 1px solid #c5e2f2;
	border-bottom: 0;
	font-size: 14px;
	font-weight: normal;
}

#footer p {
	margin: 0;
	padding: 00px 20px;
	line-height: normal;
}

#footer .legal {
	float: left;
	height: 32px;
	padding-top: 9px;
}

#footer .credits {
	float: right;
	height: 32px;
	padding-top: 18px;
}

#footer a {
	color: #FFFFFF;
}